[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
factory-boy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
python-dotenv = "*"
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
psycopg2 = "*"

[dev-packages]
black = "*"
mypy = "*"
pdbpp = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
