<!-- templates/front/decks.html -->
{% extends 'front/raw.html' %}
{% load static %}
{% block title %} Decks {% endblock title %}
{% block authenticated %}
  {{ block.super }}
  <!-- authenticated - decks.html -->
   <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p>Place for links to decks of user</p>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
        <hr class="hidden-sm hidden-md hidden-lg">
      </div>
      <div class="col-sm-8">
        <table id="table_decks" class="table">
          <thead>
          <tr>
              <th>#id</th>
              <th>Name</th>
              <th>description</th>
              <th>public</th>
              <th>Details</th>
              <!-- <th>User</th> ZAPEWNE DO DODANIA W PRZYSZLOSCI -->
          </tr>
          </thead>
        </table>
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg">Fake Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <br>
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg">Fake Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
    </div>
  </div>
{% endblock authenticated %}
{% block generate_revers_url %}
  {{ block.super }}
  <!--  generate_revers_url - decks.html-->
  var revers_urls = {
    api_v1_deck_list: "{% url 'api_v1:deck-list' %}",
    front_deck:       "{% url 'front:deck' %}"
  }
  function get_urls(){
    return revers_urls
  }
{% endblock generate_revers_url %}
{% block scripts %}
  {% if user.is_authenticated %}
    {{ block.super }}
    <!-- scripts - decks.html -->

    <script src='{% static "front/js/decks.js" %}' type="text/javascript"></script>
  {% endif %}
{% endblock scripts %}
